/* css for the heart game, made as project 3 for fend */

/* general body style */

body {
	width: 31.5em;
	margin: auto;
	text-align: center;
}

/* text style */
h1 {
	font-weight: 100;
}

/* scoreboard style */
p {
	display: inline;
	font-weight: 100;
}

.score {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	margin: -30px auto -45px;
	justify-content: space-around;
}

.score-text {
	margin-top: 42px;
}

img {
	width: 50px;
	margin-bottom: -30px;
}

/* game end text style */
.game-end {
	position: absolute;
	font-weight: 600;
	opacity: 0.7;
	top: 26%;
	color: white;
	font-size: 100px;
	right: 30%;
}
